.containerGame {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cash {
    position: absolute;
    padding: 10px;
    left: 34vw;
    top: 60px;
    width: 31%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 255, 0, 0.8);
}
#UpgradeShopScreen{
    
    background-color: rgb(100, 224, 156);
    position: absolute;
    left: 18vw;
    top: 30vh;
    color: white;
    z-index: 1001;
    height: 350px;
    width: 1000px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(255, 255, 255, 0.8);
    
}

.container-items{
    margin: 10px 10px;
    
}
.item{
    margin: 15px 10px;
    /* border: 1px solid white; */
    height: 30px;
}
.upgrade-btn {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 6px 12px; /* Adjust padding as needed */
    margin-top: -10px; /* Adjust margin-top to move the button up */
}

#formLogin {
    background-color: rgb(100, 224, 156);
    display: flex;
    width: 450px;
    flex-direction: column;
    
    gap: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 255, 0, 0.8);
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
}